.rollup-demo {
  width: 1200px;
  margin: 0 auto;
  height: 500px;
  line-height: 500px;
  background-color: rgba($color: #000000, $alpha: 0.1);
  text-align: center;
  color: #000;
  font-size: 28px;
}